<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethan.ucenter.mapper.UserMapper">

    <!--#{[param]} 代表传入这个方法的参数    -->
    <select id="selectUserAllInfoById" resultType="com.ethan.ucenter.pojo.vo.UserVO">
        select user.user_id,user_name,status,user_info.sex,avatar,motto,phone,email,company,position,birthday,location
        from user
        left join user_info
        on user.user_id=user_info.user_id
        where user.user_id=#{userId}
    </select>

    <!--类字段命名必须对应，或者是按驼峰命名法对应，比如数据库列名 user_id，那么类字段必须是 userId-->
    <select id="selectAllUser" resultType="com.ethan.ucenter.pojo.vo.UserAdminVO">
        select user.user_id,user_name,status,user_info.sex,avatar,motto,phone,email,company,position,birthday,location
        from user
        left join user_info
        on user.user_id=user_info.user_id
        <where>
            <if test="phone!=null and phone!=''">
                and user.phone = #{phone}
            </if>
            <if test="email!=null and email!=''">
                and user.email = #{email}
            </if>
            <if test="username!=null and username!=''">
                and user.user_name = #{username}
            </if>
            <if test="id!=null and id!=''">
                and user.user_id = #{id}
            </if>
            <if test="status!=null and status!=''">
                and user.status = #{status}
            </if>
        </where>
        order by user.create_time DESC
        LIMIT #{offset},#{size}
    </select>

</mapper>
